@charset "UTF-8";

.set_table {
	margin: 0px auto;
}

.td1 {
	background-color: rgb(199, 199, 199);
}

.td2 {
	background-color: rgb(209, 209, 209);
	text-align: left;
}

.divCenter {
	text-align: center;
}

.divIn {
	display: inline-block;
	background-color: rgba(255, 255, 255, 0.9);
}

.divWhite {
	background-color: rgba(255, 255, 255, 0.9);
}

#contents {
	width: 97%;
	height: 97%;
	text-align: left;
}

.mainLogo {
	
}

body {
	background-image: url("../img/back.png");
	background-color: rgb(245, 245, 200);
}

.goMain {
	position: absolute;
	width: 50px;
	top: 25px;
	left: 135px;
}