<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="global.sesoc.springBoard.dao.mapper2">

	<insert id="writing" parameterType="VO">
		insert into guestbook
		(num,
		name, password, contents)
		values
		(guestbook_seq.nextval,
		#{userName},
		#{userPw},
		#{contents}
		)
	</insert>
</mapper>
